<div id="head">
    <p class="phone">+7 (351) <span>247-53-67 (68, 69)</span></p>
    <address>г.Челябинск, <a href="/Контакты-и-реквизиты">ул. Карла Маркса 131</a></address>
    <p class="address-email"><a href="mailto:info@drobservis.ru">info@drobservis.ru</a></p>
    <p class="callback"><a href="/Обратный-звонок">Обратный звонок</a></p>
    <p><img src="/media/images/pic/phone.gif" alt=""></p>
    <div id="languages">
        <img src="/media/images/langs.png" width="100" height="22" border="0" usemap="#LangMap">
        <map name="LangMap" id="LangMap">
            <area shape="rect" coords="5,5,23,17" href="http://www.drobservis.com/" alt="en">
            <area shape="rect" coords="28,5,46,17" href="http://www.drobservis.ru/" alt="ru">
            <area shape="rect" coords="52,5,70,17" href="http://www.drobservis.kz/" alt="kk">
            <area shape="rect" coords="77,5,95,17" href="http://www.drobservis.uz/" alt="uz">
        </map>
    </div>
</div>

<div class="rblock block5">
    <p>
        <a href="http://www.drobservis.ru/Спецпредложения">
            <img src="/media/images/drob.gif" alt="drob.gif" width="241" height="175px">
        </a>
        <br><br>
        <a href="http://www.drobservis.ru/Спецпредложения/korrobond65">
            <img src="/media/images/bn_drob.png" alt="bn_drob.png" width="241" height="175px">
        </a>
    </p>
</div>

<div class="rblock block1">
    <p>Анкеты:</p>
    <ul>
        <li><a href="/uploads/anketa_grohot.doc">по грохотам</a></li>
        <li><a href="/uploads/anketa_complex.doc">по дробильному комплексу</a></li>
    </ul>
</div>

<div class="rblock block2">
    <p class="toptitle">ПОПУЛЯРНОЕ  ОБОРУДОВАНИЕ</p>
    <p> 
        <a href="/Каталог/Конусные-дробилки">Конусные дробилки</a><br>
        <a href="/Каталог/Щековые-дробилки">Щековые дробилки</a><br>
        <a href="/Каталог/Продукция-РТИ">Продукция РТИ</a><br>
        <a href="/Каталог/Грохота-инерционные">Грохота инерционные</a><br>
        <a href="/Каталог/Конвейер-ленточный">Конвейер ленточный</a><br>
        <a href="/Каталог/Дробильный-комплекс">Дробильный комплекс</a>
    </p>
</div>